In [6]:
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.decomposition import PCA
import gdown

# Reemplaza 'your_file_id' con el ID de tu archivo en Google Drive
file_id = '1lnKQCUtNXt5cmtWbOBlV1cvVxDvS5-Ed'

# Construye el enlace de descarga directa desde Google Drive
url = f'https://drive.google.com/uc?id={file_id}'

# Descarga el archivo usando gdown
output = 'archivo_csv_modificado.csv'
gdown.download(url, output, quiet=False)

# Guarda el archivo en tu directorio local
output = 'data.csv'
gdown.download(url, output, quiet=False)

# Carga el archivo CSV como un DataFrame de pandas
EmpleadosAttrition = pd.read_csv(output)

# Ahora puedes trabajar con tu DataFrame
print(EmpleadosAttrition.head())

# Convertir variables categóricas en binarias
df = pd.get_dummies(EmpleadosAttrition, columns=['Attrition'], drop_first=True)

#Eliminar columnas que no sirven

# Eliminar varias columnas
columnas_a_eliminar = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']
df.drop(columnas_a_eliminar, axis=1, inplace=True)

# Guardar las columnas binarias en un nuevo DataFrame
EmpleadosAttrition = df.copy()

# Separar las características de la variable de salida
X = EmpleadosAttrition.drop(columns=['Attrition_Yes'])  # Características
y = EmpleadosAttrition['Attrition_Yes']  # Variable de salida (asumiendo 'Attrition_Yes' como la columna binaria de salida)

# Convertir características categóricas en numéricas
X = pd.get_dummies(X)

# Seleccionar las mejores características utilizando SelectKBest
k_best = SelectKBest(score_func=chi2, k=5)  # Utiliza la prueba chi-cuadrado y selecciona las 5 mejores características
X_best = k_best.fit_transform(X, y)

# Obtener las características seleccionadas
caracteristicas_seleccionadas = X.columns[k_best.get_support()]

# Mostrar las características seleccionadas
print("Características seleccionadas:")
print(caracteristicas_seleccionadas)

# Convertir la columna 'HiringDate' al formato de fecha
df['HiringDate'] = pd.to_datetime(df['HiringDate'])

# Obtener la fecha actual
fecha_actual = pd.to_datetime('today')

# Calcular la diferencia en años entre la fecha actual y la fecha de contratación
df['YearsAtCompany'] = (fecha_actual - df['HiringDate']).dt.days // 365

# Mostrar el DataFrame con la nueva columna 'YearsAtCompany'
print(df)

#Eliminar valores NaN
# Eliminar filas con fechas de contratación faltantes o inválidas
df.dropna(subset=['HiringDate'], inplace=True)

# Convertir la columna 'HiringDate' al formato de fecha
df['HiringDate'] = pd.to_datetime(df['HiringDate'])

# Crear la columna 'Year' y obtener el año de contratación
df['Year'] = df['HiringDate'].dt.year.astype(int)

# Mostrar las primeras filas del DataFrame con la nueva columna 'Year'
print(df[['HiringDate', 'Year']].head())

# Paso 5
# Crear la columna 'Year' y obtener el año de contratación
df['Year'] = df['HiringDate'].dt.year.astype(int)

# Mostrar las primeras filas del DataFrame con la nueva columna 'Year'
print(df[['HiringDate', 'Year']].head())

#Paso 6
# Calcular los años que el empleado lleva en la compañía hasta el año 2018
df['YearsAtCompany'] = 2018 - df['Year']

# Mostrar las primeras filas del DataFrame con la nueva columna 'YearsAtCompany'
print(df[['Year', 'YearsAtCompany']].head())

#Paso 8
# Renombrar la variable DistanceFromHome a DistanceFromHome_km
df.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'}, inplace=True)

# Mostrar el DataFrame con el nombre de columna actualizado
print(df.head())

#Paso 9
# Crear la nueva variable DistanceFromHome como entera
df['DistanceFromHome'] = df['DistanceFromHome_km'].str.extract('(\d+)').astype(int)

# Mostrar el DataFrame con la nueva variable DistanceFromHome
print(df.head())

#Paso 10

# Eliminar las columnas Year, HiringDate y DistanceFromHome_km
df.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis=1, inplace=True)

# Mostrar el DataFrame después de eliminar las columnas
print(df.head())

#paso 11
# Crear el DataFrame SueldoPromedioDepto con el salario mensual promedio por departamento
SueldoPromedioDepto = df.groupby('Department')['MonthlyIncome'].mean().reset_index()

# Renombrar la columna MonthlyIncome a SueldoPromedio
SueldoPromedioDepto.rename(columns={'MonthlyIncome': 'SueldoPromedio'}, inplace=True)

# Mostrar el nuevo DataFrame
print(SueldoPromedioDepto)
#PASO 12
from sklearn.preprocessing import MinMaxScaler

# Inicializar el escalador
scaler = MinMaxScaler()

# Escalar la variable MonthlyIncome
df['MonthlyIncome_scaled'] = scaler.fit_transform(df[['MonthlyIncome']])

# Mostrar las primeras filas del DataFrame con la variable escalada
print(df[['MonthlyIncome', 'MonthlyIncome_scaled']].head())
#PASO 13
# Convertir variables categóricas a numéricas utilizando one-hot encoding
df = pd.get_dummies(df, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition_Yes'], drop_first=True)

# Mostrar el DataFrame con las variables convertidas
print(df.head())

#PASO 14 CORRELACIÓN
# Convertir variables categóricas en numéricas
df = pd.get_dummies(df)

correlation = df.corr()['Attrition_Yes_1'].sort_values(ascending=False)
print(correlation)

#PASO #15
# Seleccionar variables con correlación mayor o igual a 0.1
correlated_features = correlation[correlation >= 0.1].index.tolist()

# Incluir la variable de salida 'Attrition_Yes'
correlated_features.append('Attrition_Yes_1')

# Crear un nuevo DataFrame con las variables seleccionadas
EmpleadosAttritionFinal = df[correlated_features]

# nuevo DataFrame
print(EmpleadosAttritionFinal.head())

#PASO 16
# PCA COMPONENTES
pca = PCA(n_components=2)

# Ajustar y transformar los datos de EmpleadosAttritionFinal utilizando PCA
EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal)

# Convertir el resultado de PCA a un DataFrame
EmpleadosAttritionPCA = pd.DataFrame(EmpleadosAttritionPCA, columns=['Componente1', 'Componente2'])

# Mostrar las primeras filas del nuevo DataFrame EmpleadosAttritionPCA
print(EmpleadosAttritionPCA.head())

#PASO 17
# Inicializar PCA con el número de componentes suficientes para explicar el 80% de la varianza
pca = PCA(n_components=0.8)

# Aplicar PCA al dataframe EmpleadosAttritionFinal
EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal)

# Convertir el array resultante de PCA a un DataFrame
EmpleadosAttritionPCA = pd.DataFrame(data=EmpleadosAttritionPCA, columns=[f'Componente_{i}' for i in range(1, pca.n_components_ + 1)])

# Concatenar EmpleadosAttritionPCA con la columna Attrition del dataframe original
EmpleadosAttritionFinal = pd.concat([EmpleadosAttritionPCA, EmpleadosAttritionFinal['Attrition_Yes_1']], axis=1)
print(EmpleadosAttritionFinal.head())

# Guardar el DataFrame EmpleadosAttritionFinal en un archivo CSV
EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)

Downloading...
From: https://drive.google.com/uc?id=1lnKQCUtNXt5cmtWbOBlV1cvVxDvS5-Ed
To: /content/archivo_csv_modificado.csv
100%|██████████| 59.8k/59.8k [00:00<00:00, 58.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1lnKQCUtNXt5cmtWbOBlV1cvVxDvS5-Ed
To: /content/data.csv
100%|██████████| 59.8k/59.8k [00:00<00:00, 18.8MB/s]

   Age BusinessTravel              Department DistanceFromHome  Education  \
0   50  Travel_Rarely  Research & Development             1 km          2
1   36  Travel_Rarely  Research & Development             6 km          2
2   21  Travel_Rarely                   Sales             7 km          1
3   52  Travel_Rarely  Research & Development             7 km          4
4   33  Travel_Rarely  Research & Development            15 km          1

  EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  \
0        Medical              1             997                        4
1        Medical              1             178                        2
2      Marketing              1            1780                        2
3  Life Sciences              1            1118                        2
4        Medical              1             582                        2

  Gender  ...  PercentSalaryHike  PerformanceRating RelationshipSatisfaction  \
0   Male  ...                 22                  4                        3
1   Male  ...                 20                  4                        4
2   Male  ...                 13                  3                        2
3   Male  ...                 19                  3                        4
4   Male  ...                 12                  3                        4

   StandardHours TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0             80                32                      1                2
1             80                 7                      0                3
2             80                 1                      3                3
3             80                18                      4                3
4             80                15                      2                4

  YearsInCurrentRole YearsSinceLastPromotion Attrition
0                  4                       1        No
1                  2                       0        No
2                  0                       1       Yes
3                  6                       4        No
4                  6                       7       Yes

[5 rows x 30 columns]
Características seleccionadas:
Index(['Age', 'MonthlyIncome', 'TotalWorkingYears', 'YearsInCurrentRole',
       'OverTime_Yes'],
      dtype='object')
     Age     BusinessTravel              Department DistanceFromHome  \
0     50      Travel_Rarely  Research & Development             1 km
1     36      Travel_Rarely  Research & Development             6 km
2     21      Travel_Rarely                   Sales             7 km
3     52      Travel_Rarely  Research & Development             7 km
4     33      Travel_Rarely  Research & Development            15 km
..   ...                ...                     ...              ...
395   33      Travel_Rarely  Research & Development            14 km
396   31      Travel_Rarely                   Sales            20 km
397   37  Travel_Frequently  Research & Development            11 km
398   38      Travel_Rarely  Research & Development             4 km
399   33      Travel_Rarely  Research & Development            14 km

     Education EducationField  EnvironmentSatisfaction  Gender  \
0            2        Medical                        4    Male
1            2        Medical                        2    Male
2            1      Marketing                        2    Male
3            4  Life Sciences                        2    Male
4            1        Medical                        2    Male
..         ...            ...                      ...     ...
395          3        Medical                        3    Male
396          3  Life Sciences                        2  Female
397          3          Other                        2    Male
398          2        Medical                        4  Female
399          3        Medical                        4  Female

     JobInvolvement  JobLevel  ... PercentSalaryHike  PerformanceRating  \
0                 3         4  ...                22                  4
1                 3         2  ...                20                  4
2                 3         1  ...                13                  3
3                 3         3  ...                19                  3
4                 3         3  ...                12                  3
..              ...       ...  ...               ...                ...
395               3         1  ...                13                  3
396               1         2  ...                11                  3
397               3         3  ...                14                  3
398               3         1  ...                19                  3
399               3         1  ...                13                  3

    RelationshipSatisfaction  TotalWorkingYears  TrainingTimesLastYear  \
0                          3                 32                      1
1                          4                  7                      0
2                          2                  1                      3
3                          4                 18                      4
4                          4                 15                      2
..                       ...                ...                    ...
395                        3                  8                      2
396                        3                  4                      2
397                        3                 10                      1
398                        4                  7                      5
399                        4                  8                      5

    WorkLifeBalance YearsInCurrentRole  YearsSinceLastPromotion  \
0                 2                  4                        1
1                 3                  2                        0
2                 3                  0                        1
3                 3                  6                        4
4                 4                  6                        7
..              ...                ...                      ...
395               1                  4                        0
396               3                  2                        2
397               3                  8                        0
398               2                  0                        0
399               3                  7                        1

     Attrition_Yes  YearsAtCompany
0                0            10.0
1                0             8.0
2                1             7.0
3                0            13.0
4                1            12.0
..             ...             ...
395              1            10.0
396              1             7.0
397              0            16.0
398              0             5.0
399              0            14.0

[400 rows x 27 columns]
  HiringDate  Year
0 2013-06-06  2013
1 2015-12-25  2015
2 2017-02-14  2017
3 2010-07-29  2010
4 2011-10-07  2011
  HiringDate  Year
0 2013-06-06  2013
1 2015-12-25  2015
2 2017-02-14  2017
3 2010-07-29  2010
4 2011-10-07  2011
   Year  YearsAtCompany
0  2013               5
1  2015               3
2  2017               1
3  2010               8
4  2011               7
   Age BusinessTravel              Department DistanceFromHome_km  Education  \
0   50  Travel_Rarely  Research & Development                1 km          2
1   36  Travel_Rarely  Research & Development                6 km          2
2   21  Travel_Rarely                   Sales                7 km          1
3   52  Travel_Rarely  Research & Development                7 km          4
4   33  Travel_Rarely  Research & Development               15 km          1

  EducationField  EnvironmentSatisfaction Gender  JobInvolvement  JobLevel  \
0        Medical                        4   Male               3         4
1        Medical                        2   Male               3         2
2      Marketing                        2   Male               3         1
3  Life Sciences                        2   Male               3         3
4        Medical                        2   Male               3         3

   ... PerformanceRating  RelationshipSatisfaction TotalWorkingYears  \
0  ...                 4                         3                32
1  ...                 4                         4                 7
2  ...                 3                         2                 1
3  ...                 3                         4                18
4  ...                 3                         4                15

   TrainingTimesLastYear  WorkLifeBalance YearsInCurrentRole  \
0                      1                2                  4
1                      0                3                  2
2                      3                3                  0
3                      4                3                  6
4                      2                4                  6

  YearsSinceLastPromotion  Attrition_Yes  YearsAtCompany  Year
0                       1              0               5  2013
1                       0              0               3  2015
2                       1              1               1  2017
3                       4              0               8  2010
4                       7              1               7  2011

[5 rows x 28 columns]
   Age BusinessTravel              Department DistanceFromHome_km  Education  \
0   50  Travel_Rarely  Research & Development                1 km          2
1   36  Travel_Rarely  Research & Development                6 km          2
2   21  Travel_Rarely                   Sales                7 km          1
3   52  Travel_Rarely  Research & Development                7 km          4
4   33  Travel_Rarely  Research & Development               15 km          1

  EducationField  EnvironmentSatisfaction Gender  JobInvolvement  JobLevel  \
0        Medical                        4   Male               3         4
1        Medical                        2   Male               3         2
2      Marketing                        2   Male               3         1
3  Life Sciences                        2   Male               3         3
4        Medical                        2   Male               3         3

   ... RelationshipSatisfaction  TotalWorkingYears TrainingTimesLastYear  \
0  ...                        3                 32                     1
1  ...                        4                  7                     0
2  ...                        2                  1                     3
3  ...                        4                 18                     4
4  ...                        4                 15                     2

   WorkLifeBalance  YearsInCurrentRole YearsSinceLastPromotion Attrition_Yes  \
0                2                   4                       1             0
1                3                   2                       0             0
2                3                   0                       1             1
3                3                   6                       4             0
4                4                   6                       7             1

   YearsAtCompany  Year  DistanceFromHome
0               5  2013                 1
1               3  2015                 6
2               1  2017                 7
3               8  2010                 7
4               7  2011                15

[5 rows x 29 columns]
   Age BusinessTravel              Department  Education EducationField  \
0   50  Travel_Rarely  Research & Development          2        Medical
1   36  Travel_Rarely  Research & Development          2        Medical
2   21  Travel_Rarely                   Sales          1      Marketing
3   52  Travel_Rarely  Research & Development          4  Life Sciences
4   33  Travel_Rarely  Research & Development          1        Medical

   EnvironmentSatisfaction Gender  JobInvolvement  JobLevel  \
0                        4   Male               3         4
1                        2   Male               3         2
2                        2   Male               3         1
3                        2   Male               3         3
4                        2   Male               3         3

                     JobRole  ...  PerformanceRating RelationshipSatisfaction  \
0          Research Director  ...                  4                        3
1     Manufacturing Director  ...                  4                        4
2       Sales Representative  ...                  3                        2
3  Healthcare Representative  ...                  3                        4
4                    Manager  ...                  3                        4

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0                 32                      1               2
1                  7                      0               3
2                  1                      3               3
3                 18                      4               3
4                 15                      2               4

   YearsInCurrentRole  YearsSinceLastPromotion  Attrition_Yes  YearsAtCompany  \
0                   4                        1              0               5
1                   2                        0              0               3
2                   0                        1              1               1
3                   6                        4              0               8
4                   6                        7              1               7

   DistanceFromHome
0                 1
1                 6
2                 7
3                 7
4                15

[5 rows x 26 columns]
               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7192.609756
   MonthlyIncome  MonthlyIncome_scaled
0          17399              0.864269
1           4941              0.207340
2           2679              0.088062
3          10445              0.497574
4          13610              0.664470
   Age  Education  EnvironmentSatisfaction  JobInvolvement  JobLevel  \
0   50          2                        4               3         4
1   36          2                        2               3         2
2   21          1                        2               3         1
3   52          4                        2               3         3
4   33          1                        2               3         3

   JobSatisfaction  MonthlyIncome  NumCompaniesWorked OverTime  \
0                4          17399                   9       No
1                2           4941                   6       No
2                2           2679                   1       No
3                2          10445                   7       No
4                3          13610                   7      Yes

   PercentSalaryHike  ...  JobRole_Laboratory Technician  JobRole_Manager  \
0                 22  ...                              0                0
1                 20  ...                              0                0
2                 13  ...                              0                0
3                 19  ...                              0                0
4                 12  ...                              0                1

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                               0                          1
1                               1                          0
2                               0                          0
3                               0                          0
4                               0                          0

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                           0                        0
1                           0                        0
2                           0                        0
3                           0                        0
4                           0                        0

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single  \
0                             0                      0                     0
1                             0                      0                     0
2                             1                      0                     1
3                             0                      0                     1
4                             0                      1                     0

   Attrition_Yes_1
0                0
1                0
2                1
3                0
4                1

[5 rows x 41 columns]
Attrition_Yes_1                      1.000000
OverTime_Yes                         0.324332
MaritalStatus_Single                 0.205308
JobRole_Sales Representative         0.191070
EducationField_Technical Degree      0.128876
JobRole_Laboratory Technician        0.124827
Department_Sales                     0.067985
DistanceFromHome                     0.052944
BusinessTravel_Travel_Rarely         0.043551
BusinessTravel_Travel_Frequently     0.034833
JobRole_Human Resources              0.032564
EducationField_Marketing             0.020458
JobRole_Research Scientist           0.007467
JobRole_Sales Executive             -0.000991
EducationField_Other                -0.004525
PerformanceRating                   -0.007010
NumCompaniesWorked                  -0.008590
WorkLifeBalance                     -0.023063
EducationField_Life Sciences        -0.028511
Gender_Male                         -0.030200
RelationshipSatisfaction            -0.032777
JobRole_Manufacturing Director      -0.042802
Education                           -0.054478
EducationField_Medical              -0.054974
PercentSalaryHike                   -0.061714
YearsSinceLastPromotion             -0.069835
TrainingTimesLastYear               -0.071592
Department_Research & Development   -0.074053
JobRole_Manager                     -0.090209
MaritalStatus_Married               -0.093706
JobRole_Research Director           -0.116656
EnvironmentSatisfaction             -0.125091
JobSatisfaction                     -0.163964
JobInvolvement                      -0.168047
YearsAtCompany                      -0.176287
MonthlyIncome                       -0.195044
MonthlyIncome_scaled                -0.195044
YearsInCurrentRole                  -0.204453
Age                                 -0.212459
TotalWorkingYears                   -0.214043
JobLevel                            -0.214486
OverTime_No                         -0.324332
Name: Attrition_Yes_1, dtype: float64
   Attrition_Yes_1  OverTime_Yes  MaritalStatus_Single  \
0                0             0                     0
1                0             0                     0
2                1             0                     1
3                0             0                     1
4                1             1                     0

   JobRole_Sales Representative  EducationField_Technical Degree  \
0                             0                                0
1                             0                                0
2                             1                                0
3                             0                                0
4                             0                                0

   JobRole_Laboratory Technician  Attrition_Yes_1
0                              0                0
1                              0                0
2                              0                1
3                              0                0
4                              0                1
   Componente1  Componente2
0    -0.421266    -0.081501
1    -0.421266    -0.081501
2     1.148985     0.777968
3    -0.105189     0.789650
4     1.197310    -0.648090
   Componente_1  Componente_2  Componente_3  Componente_4  Attrition_Yes_1  \
0     -0.421266     -0.081501      0.031792      0.211772              0.0